@import url(_Layout.css);
@import url(Index.css);
@import url(daterangepicker.css);

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  } 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#company-name{
    width: 80pt;
    height: 40pt;
}

