@import url(daterangepicker.css);
@import url(_Layout.css);


@import url(pages/home.css);
@import url(pages/search_result_page.css);

@import url(components/search_component_style.css);
@import url(components/numeric_component.css);
@import url(components/recomendation_card_component.css);
@import url(components/found_hotel_card_component.css);
@import url(components/filter_component.css);


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  } 
}

html {`
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#company-name{
    width: 80pt;
    height: 40pt;
}

