.filter {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
}

    .filter input:active, input:hover, input:focus {
        outline: 0 !important;
        outline-color: transparent !important;
        outline-style: none !important;
        box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
    }

.filter-title {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 10px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #D7D7D7;
}

    .filter-title p {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

.filter-object_assessmet {
    border-bottom: 1px solid #D7D7D7;
}

.filter-type_of_allocation {
    border-bottom: 1px solid #D7D7D7;
}

.filter-sub_title {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.filter-list_item {
    list-style-type: none;
    padding: 1px 0px 1px 0px;
}
