th {
    font-size: 13pt;
    color: #333;
}

    th:first-child {
        padding-left: 8px;
        text-align: start;
    }

    th:last-child {
        text-align: end;
        width: 7%;
    }

td {
    padding-left: 8px;
}

tr:first-child {
    height: 40px;
}

.tab_row {
    border-bottom: 1px solid #dee2e6;
}

.hotel_name {
    color: #0d6efd;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 40px;
}

.control_item {
    text-align: center;
    font-size: 16pt;
}

li {
    margin-right: 8px;
}

.control_item:hover {
    cursor: pointer;
}

::deep .edit:hover {
    cursor: pointer;
    color: hsl(38 90% 55%) !important;
}

::deep .remove:hover {
    cursor: pointer;
    color: #dc3545 !important;
}

.tab_row:hover {
    cursor: pointer;
    background-color: rgba(3, 3, 3, 0.02);
    border-bottom: 1px solid #0d6efd;
}
