<div class="gallery">
    @foreach (var img in Images)
    {
        <div class="img-wrapper">
            <div class="removeBtn" 
                @onmouseover="@MouseOverOfDeleteBtn"
                @onmouseout="@MouseOutOfRemoveBtn"
                @onclick="() => OnRemove(img)">
                <Icon class="icon" Name="IconName.Trash" Size="IconSize.x4" />
            </div>
            <img class="img-thumbnail img-content" src="@img" alt="image">
        </div>
    }
</div>
<style type="text/css">
    .img-wrapper:hover {
    @BorderStyle
    }
</style>


