.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    
}

.top-row {
    border-left: 1.5px solid rgba(0,0,0,0.1);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


.row {
    justify-content: center;
    align-items: center;
    object-fit: none;
    overflow: hidden;
}
    .row img {
        min-width: 1680px;
        height: 100vh;
        padding: 0;
    }
.login_form {
    position: absolute;
    width: 400px;
    border-radius: 20px;
    
}
.modal-content {
    border-radius: 20px;
    border-color: rgba(80,80,80,0.5);
    background-color: rgba(0,0,0,0.65);
}
::deep .form-control {
    background-color: rgba(0,0,0,0.3);
    border-color: rgba(110,110,110,0.9);
    border-radius: 5px;
    color: whitesmoke;
}
    
.form-floating label {
    color: whitesmoke;
}

.modal-header, .modal-footer {
    border-color: transparent;
}
.register_btn {
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
}
    .register_btn:hover {
        cursor: pointer;
        text-decoration: underline;
    }
.enter_btn {
    height: 40px;
    width: 80px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid rgba(110,110,110,0.9);
    border-radius: 5px;
}
    .enter_btn:hover {
        border: 1px solid whitesmoke;
    }
.logout:hover{
    cursor: pointer;
}