@inherits LayoutComponentBase

<PageTitle>YouRest.HotelierWebApp</PageTitle>
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <div class="logout" @onclick="@LogoutAsync"><span class="oi oi-account-logout"></span></div>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            @if(ShowRegistryPage)
            {
                <YouRest.HotelierWebApp.Pages.RegisterPage OnLoginPage="@ToLoginPage" />
            }
            else
            {
                <YouRest.HotelierWebApp.Pages.LoginPage OnRegistry="@ToRegisterPage" />
            }
            
        </NotAuthorized>
    </AuthorizeView>
</div>