.logo {
    color: red;
}

   a.logo::before {
        content: " ";
        position: absolute;
        top: 10px;
        left: -1px;
        background-color: #CCC;
   }
ul.navigation-menu{
    display: flex;
    flex-direction: row;
}