@{
    ViewData["Title"] = "Результат поиска отелей";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        @(await Html.RenderComponentAsync<SearchComponent>(RenderMode.ServerPrerendered))
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="filter">

        </div>
    </div>
    <div class="col-md-9">
        @(await Html.RenderComponentAsync<FoundHotelCardComponent>(RenderMode.ServerPrerendered))
    </div>
</div>