@{
    ViewData["Title"] = "Результат поиска отелей";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        @(await Html.RenderComponentAsync<SearchComponent>(RenderMode.ServerPrerendered))
    </div>
</div>