@page "/hotels"
@attribute [Authorize]

<PageTitle>Hotels</PageTitle>

<div class="container-fluid">
    <div class="row">
        <h4>Мои Отели</h4>
    </div>
    <div class="row justify-content-center">
        <div>
            @if (HotelViewModel.Hotels != null && HotelViewModel.Hotels.Any())
            {
                <HotelTableComponent @bind-Hotels="@HotelViewModel.Hotels"
                    OnSelected="@SelectedHotel"    
                    OnEdit="@EditHotel" 
                    OnRemove="@RemoveHotel"
                />
            }
            else
            {
                <p class="hotel_empty">У Вас пока нет добавленных отелей</p>
                <p class="hotel-empty_description">Для добавления отеля нажмите на кнопку "Добвить отель"</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <Button class="create_btn" @onclick="NavigateToCreate" Color="ButtonColor.Primary" Size="Size.Medium" Outline="true">
                <Icon Name="IconName.PlusLg" /> Создать Отель
            </Button>
        </div>
    </div>
</div>