<div class="card" style="width: 18rem;">
    <div id=@CarouseControlId class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var (item, index) in ImageUrls.Select((item, index) => new Tuple<string, int> (item, index)))
            {
                if (index == 0)
                {
                    <div class="carousel-item active">
                        <img src=@item
                             class="d-block w-100" alt="img">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src=@item
                             class="d-block w-100" alt="img">
                    </div>
                }

            }
            <button class="carousel-control-prev" type="button" data-bs-target="#@CarouseControlId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#@CarouseControlId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">
            @Description
        </p>
        <b>От @Price р.</b> <hr />
        <a href="#" class="btn btn-primary">Забронировать</a>
    </div>
</div>