<div class="filter">
    <div class="filter-title">
        <p>Все фильтры</p>
    </div>
    <div class="filter-type_of_allocation">
        <p class="filter-sub_title">
            Тип размещения
        </p>
        <ul class="filter-list">
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="apartments">
                    <label class="form-check-label" for="apartments">
                        Апартаменты/квартиры
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="hotels">
                    <label class="form-check-label" for="hotels">
                        Отели
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="guestHouses">
                    <label class="form-check-label" for="guestHouses">
                        Гостевые дома
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="motels">
                    <label class="form-check-label" for="motels">
                        Мотели
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="villa">
                    <label class="form-check-label" for="villa">
                        Виллы
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="filter-object_assessmet">
        <p class="filter-sub_title">
            Оценка объекта
        </p>
        <ul class="filter-list">
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="oneStar">
                    <label class="form-check-label" for="oneStar">
                        1 звезда
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="twoStar">
                    <label class="form-check-label" for="twoStar">
                        2 звезды
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="threeStar">
                    <label class="form-check-label" for="threeStar">
                        3 звезды
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fourStar">
                    <label class="form-check-label" for="fourStar">
                        4 звезды
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fiveStar">
                    <label class="form-check-label" for="fiveStar">
                        5 звезд
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="withoutStar">
                    <label class="form-check-label" for="withoutStar">
                        без звезд
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="filter-room_facilities">
        <p class="filter-sub_title">
            Удобства в номере
        </p>
        <ul class="filter-list">
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="conditioner">
                    <label class="form-check-label" for="conditioner">
                        Кондиционер
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="safe">
                    <label class="form-check-label" for="safe">
                        Сейф
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fridge">
                    <label class="form-check-label" for="fridge">
                        Холодильник
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="tv_set">
                    <label class="form-check-label" for="tv_set">
                        Телевизор
                    </label>
                </div>
            </li>
            <li class="filter-list_item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="jacuzzi">
                    <label class="form-check-label" for="jacuzzi">
                        Джакузи
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>

