<div class="recomendation-card">
    <h2 class="recomendation-card_title">@Title</h2>
    <p class="recomendation-card_description">@Description</p>
    <div class="recomendation-card_wrapper">
        <img src=@Url
             class="recomendation-card-wrapper_img img-fluid"
             alt="img">
    </div>

</div>
