
<div class="search">
    <div class="search-field">
        <i class="bi bi-luggage bi-size"></i>
        <input class="search-input" type="text" placeholder="Куда Вы хотите поехать?" />
    </div>
    <div class="search-field">
        <i class="bi bi-calendar-week bi-size"></i>
        <input type="text" id="my-datapicker" class="search-input" @onupdateselecteddate="@UpdateSelectedDate">
    </div>
    <div class="search-field">
        <i class="bi bi-person bi-size"></i>
        <div class="auldt_btn" onclick="openForm()"> @AdultNumber взрослых @ChildrenNumber детей @RoomCount комната</div>
        <!-- Hide Form -->
        <div class="form-popup" id="myForm">
            <div class="form-container">
                <!-- Custom Numeric -->
                <NumericComponent Title="Взрослых" @bind-Value="@AdultNumber" Min="0" Max="30" />
                <NumericComponent Title="Детей" @bind-Value="@ChildrenNumber" Min="0" Max="10" />
                <NumericComponent Title="Номеров" @bind-Value="@RoomCount" Min="0" Max="30" />
                <div class="btn cancel" onclick="closeForm()">Готово</div>
            </div>
        </div>
    </div>
    <button class="btn-lg btn-primary">Найти</button>
</div>

