@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Country Name
        </dt>
        <dd class="col-sm-10" id="countryNameDisplay">
            <!-- The country name will be added dynamically -->
        </dd>
    </dl>
</div>

<div>
    <a href="/somepath/edit/:id" id="editLink">Edit</a> |
    <a href="/somepath">Back to List</a>
</div>

<script>
    fetch('https://localhost/api/countries/:id') 
    .then(response => response.json())
    .then(data => {
        document.getElementById('countryNameDisplay').textContent = data.name;
        document.getElementById('editLink').href = "/somepath/edit/" + data.id;
    })
    .catch(error => {
        console.error('Error fetching country details:', error);
    });
</script>
