@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="/somepath/create">Create New</a>
</p>
<table class="table" id="countriesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>